@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<div style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
">

</div>
<p>
    <br/><br/>
    At Faiz Media Inc, we are a dynamic and affordable creative studio based in Karachi, Pakistan, with a growing presence in Sydney, Australia. We specialize in designing, building, and scaling innovative digital products tailored to meet the unique needs of startups and businesses.
    <br />
    <br />
    Driven by a passion for creativity and technical excellence, our team of talented professionals transforms ideas into impactful solutions. From web and mobile app development to UI/UX design, we blend strategy, technology, and creativity to help brands succeed in a digital-first world.
    <br /><br/>
    At Faiz Media, we believe in collaboration, innovation, and delivering value that empowers our clients to achieve their goals.
</p>

<br/>
    <a style="
            font-family: Courier New, Courier, monospace;
            font-weight: 600;
            background-color: darkolivegreen;
            text-decoration: none;
            color: white;
            padding: 12px 18px 12px 18px;
            border-radius:11px;


            " href="https://faizmedia.com" target="_blank">
        Visit Webite ➲
    </a>



