@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>

    <h1 class="display-3" style="
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        font-size: 20px;
    ">We love to build creative and scalable products 🚀 under the hood</h1>
</div>
