@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"]</h1>
<div style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
">
    <br/>

    <ul>
        <li>
            UI/UX Design
        </li>
        <li>
            Web Developmemnt
        </li>
        <li>
            Mobile Development
        </li>
        <li>
            Blockchain Development
        </li>
        <li>
            Digital Marketing
        </li>
        <li>
            E-commerce
        </li>
    </ul>
</div>




